dcm4chee-2.18.3-mysql/server/default/archive/*
dcm4chee-2.18.3-mysql/server/default/log/*
dcm4chee-2.18.3-mysql/server/default/tar-extracted/*
dcm4chee-2.18.3-mysql/server/default/tar-extracted-journal/*
dcm4chee-2.18.3-mysql/server/default/tmp/*
dcm4chee-2.18.3-mysql/server/default/wadocachedata/*
dcm4chee-2.18.3-mysql/server/default/wadocachejournal/*
dcm4chee-2.18.3-mysql/server/default/work/*
dcm4chee-2.18.3-mysql/server/default/data/*
database/*