$medytec: rgb(0, 131, 93);

.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.logo {
  border-radius: 100px;
  background: $medytec;
  padding: 5px;
}

.bg-medytec {
  background: $medytec;
}

.text-medytec {
  color: $medytec;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Toastify__toast--error {
  opacity: 0.9;
  border-radius: 7px !important;
  border: 1px solid red;
}

.w-90 {
  width: 90%;
}
